@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
    --blue: #4070f4;
    --backgroundcolor: rgb(36, 36, 36);
    --font-color: black;
    --typeWrite: white;
}

@media (prefers-color-scheme: light) {
    :root {
        --backgroundcolor: white;
        --font-color: white;
    }

    body {
        color: black;
    }
}

* {
    font-family: "Roboto", sans-serif;
    background-color: var(--backgroundcolor);
    box-sizing: border-box;
}

body {
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

main {
    margin: 20px;
}

.para {
    display: block;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    background-color: white;
}

.para:hover {
    box-shadow: 1px 1px 50px 1px var(--typeWrite);
    transition: 0.5s;
}

.para:not(:hover) {
    transition: 0.5s;
}

.typewrite {
    font-size: 50px;
    overflow: hidden;
}

.typewrite {
    position: relative;
    color: var(--blue);
}

.typewrite .static-text {
    color: var(--typeWrite);
}


#cursor {
    padding-left: 5px;
    border-right: var(--blue) 2px solid;
    animation: blink 1s linear infinite;
}

@media screen and (max-width: 800px) {
    .text#sec-text::before {
        display: none;
    }
}

@keyframes blink {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

a {
    background: none;
    color: black;
    text-decoration: none;
    transition: 0.5s;
    cursor: default;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media screen and (max-width: 1300px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.gridel:hover.blue a {
    color: var(--blue);
}

.gridel:hover.green a {
    color: green;
}

.gridel:hover.yellow a {
    color: yellow;
}

.gridel:not(:hover) a {
    transition: 0.5s;
}

a:hover {
    text-decoration: underline;
}

.gridel {
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
}

.gridel:hover {
    background-color: var(--backgroundcolor);
    transition: 0.5s;
    cursor: pointer;
}

.gridel:not(:hover) {
    transition: 0.5s;
}

.red {
    background-color: rgb(255, 45, 45);
    border: 2px solid rgb(255, 45, 45);
}

.red:hover {
    color: rgb(255, 45, 45);
    box-shadow: 1px 1px 50px 1px rgb(255, 45, 45);
}

.blue {
    background-color: var(--blue);
    border: 2px solid var(--blue);
}

.blue:hover {
    color: var(--blue);
    box-shadow: 1px 1px 50px 1px var(--blue);
}

.green {
    background-color: green;
    border: 2px solid green;
}

.green:hover {
    color: green;
    box-shadow: 1px 1px 50px 1px green;
}

.yellow {
    background-color: yellow;
    border: 2px solid yellow;
}

.yellow:hover {
    color: yellow;
    box-shadow: 1px 1px 50px 1px yellow;
}