body {
    font-family: "Roboto", sans-serif;
    background-color: lightgray;
    font-size: 16px;
    -webkit-locale: "de";
}
#add-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #76bfcc;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: lightgreen;
    font-size: 200%;
}
#add-button:hover {
    cursor: pointer;
}
h1 {
    background-color: lightgreen;
    display: block;
    text-align: center;
    margin-top: 40px;
    border: 2px solid #76bfcc;
}
#logo {
    text-decoration: none;
    color: black;
}
#inModal{
    /*display: none;*/
    position: absolute;
    right: 15px;
    bottom: 15px;
    border: #76bfcc 2px solid;
    background-color: lightgreen;
    padding: 10px;
    padding-top: 0px;
    border-radius: 5px;
}
#itemLabel {
    display: block;
    padding: 10px;
}
#closeBtn{
    width: 25px;
    height: 25px;
    background-color: #76bfcc; /*Deine Wunschfarbe des Buttons*/
    -webkit-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
}